<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1>All users</h1>
<br/>
<input type="button" value="Add" onclick="window.location.href = 'users/new'">
<br/>
<br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Operations</th>
        </tr>
        <tr th:each="user : ${users}">

            <td th:utext="${user.getId()}">...</td>
            <td th:utext="${user.getName()}">...</td>
            <td th:utext="${user.getSurname()}">...</td>
            <td th:utext="${user.getEmail()}">...</td>
            <td>
                <a type="button" th:href="@{/users/update/(id=${user.getId()})}" >Update</a>
                <a type="button" th:href="@{/users/delete/(id=${user.getId()})}" >Delete</a>
            </td>

        </tr>
    </table>
</div>
</body>
</html>